{% extends 'home/base.html' %}

{% block header%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand ms-5" href="/">IxemBlog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse w-100 d-flex justify-content-between" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Accueil <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Vendée</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Maritime</a>
          </li>
      </ul>
      <form class="d-flex justify-content-center me-3">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
{%endblock%}

{% block body%}

<div class="ajoutarticle">
    <div class="containerAjoutArticle">
        <form action="/blog/add/validate" method="post">{% csrf_token %}
            <label>Titre
                <input type="text" name="title" id="title" required>
            </label>

            <label>Image
                <input type="text" name="picture" id="picture" required>
            </label>

            <label>Article
                <textarea name="content" required></textarea>
            </label>

            <label>Auteur
                <input type="text" name="author" required>
            </label>

            <label>Slug
                <input type="text" name="slug" required>
            </label>
            <button>Ajouter l'article</button>
        </form>
    </div>
</div>

{%endblock%} 