{% extends "home/base.html" %}
{% block title%} IxemBlog {% endblock %}
{% block body %}
        <div class="bg-black mt-0 h1EtSlogan">
            <h1 class="text-center display-4 mb-20 text-white fw-bold pt-5">Bienvenu(e) sur IxemBlog ! </h1>
            <p class="text-center text-white display-6 pb-5">Le magazine local d'Ixem !</p>
        </div>
        <div class="content w-100 d-flex justify-content-center">
    
            <div class="grid text-center w-75 d-flex">
                {% for article in articles%}
                <div class="g-col-6 w-50 d-flex">
                    <img src="{{article.image}}" class="w-50">
                    <div class="d-flex flex-column justify-content-start">
                        <p class="">{{article.title}}</p>
                        <p>Par {{article.author}} le {{article.date|date:'d F Y'}}</p>
                    </div>
                </div>
                {% endfor%}
            </div>
    
          </div>

    </div>

{% endblock%}
</html>


{% block header%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand ms-5" href="/">IxemBlog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse w-100 d-flex justify-content-between" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Accueil <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Vendée</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Maritime</a>
          </li>
      </ul>
      <form class="d-flex justify-content-center me-3">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
{%endblock%}